<div class='row' id='map-options'>
  <div class='col-md-3'></div>
  <div class='col-md-6 col-md-offset-2' id='display'>
    <div class='row'>
      <h3>Find meetups near you!</h3>
    </div>

    <div class='row'>
      <form method="POST" action="/">
        <div class='col-md-6' id='add-div'>
          <fieldset class="form-group">
            <input id="address" name='address' class="form-control" placeholder='Address (required)' required width='200px'>
          </fieldset>
        </div>

        <div class='col-md-6' id='btn-div'>
          <div id='cat-opts'>
            <ul>
              <li>Categories
                <ul>
                  <li class='search-events'><a id='1'>Arts and Culture</a></li>
                  <li class='search-events'><a id='18'>Book Clubs</a></li>
                  <li class='search-events'><a id='2'>Career & Business</a></li>
                  <li class='search-events'><a id='3'>Cars & Motorcycles</a></li>
                  <li class='search-events'><a id='4'>Community & Environment</a></li>
                  <li class='search-events' id='5'><a href="/find/5">Dancing</a></li>
                  <li class='search-events' id='6'><a href="/find/6">Education</a></li>
                  <li class='search-events' id='8'><a href="/find/8">Fashion & Beauty</a></li>
                  <li class='search-events' id="9"><a href="/find/9">Fitness</a></li>
                  <li class='search-events' id="10"><a href="/find/9">Food & Drink</a></li>
                  <li class='search-events' id="11"><a href='/find/11'>Games</a></li>
                  <li class='search-events' id="14"><a href="/find/9">Health & Wellbeing</a></li>
                  <li class='search-events' id="15"><a href="/find/9">Hobbies & Crafts</a></li>
                  <li class='search-events' id="16"><a href="/find/9">Language</a></li>
                  <li class='search-events' id="12"><a href="/find/9">LGBT</a></li>
                  <li class='search-events' id="17"><a href="/find/9">Lifestyle</a></li>
                  <li class='search-events' id="13"><a href="/find/9">Government & Politics</a></li>
                  <li class='search-events' id="20"><a href='/find/20'>Movies & Film</a></li>
                  <li class='search-events' id="21"><a href='/find/21'>Music</a></li>
                  <li class='search-events' id="22"><a href='/find/22'>New Age Spirituality</a></li>
                  <li class='search-events' id="23"><a href='/find/23'>Outdoors Adventure</a></li>
                  <li class='search-events' id="24"><a href='/find/24'>Paranormal</a></li>
                  <li class='search-events' id="25"><a href='/find/25'>Parents & Family</a></li>
                  <li class='search-events' id="26"><a href='/find/26'>Pets & Animals</a></li>
                  <li class='search-events' id="27"><a href='/find/27'>Photography</a></li>
                  <li class='search-events' id="28"><a href='/find/'>Religious Beliefs</a></li>
                  <li class='search-events' id="29"><a href='/find/'>Sci-Fi & Fantasy</a></li>
                  <li class='search-events' id="30"><a href='/find/'>Singles</a></li>
                  <li class='search-events' id="31"><a href='/find/'>Socializing</a></li>
                  <li class='search-events' id="32"><a href='/find/'>Sports & Recreation</a></li>
                  <li class='search-events' id="33"><a href='/find/'>Support</a></li>
                  <li class='search-events' id="34"><a href='/find/'>Tech</a></li>
                  <li class='search-events' id="35"><a href='/find/'>Writing</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div class='row'>
  <div id='map'></div>
  <script>
    function initMap() {
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: { lat: 44.540, lng: -78.546 },
        zoom: 8
      });

      var geocoder = new google.maps.Geocoder();

      $(document).on('click', '.search-events', () => {
        var eventId = event.target.id;
        geocodeAddress(geocoder, map, eventId);
      })
    }

    function geocodeAddress(geocoder, resultsMap, eventId) {

      var address = document.getElementById('address').value;
      geocoder.geocode({'address': address}, (results, status) => {

        if (status == google.maps.GeocoderStatus.OK) {
          var latlong = {
            lat: results[0].geometry.viewport.H,
            long: results[0].geometry.viewport.J
          };

          //put marker for user's address
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
          });

          //redirect in order to generate GET request on backend
          //window.location.href = '/find/' + eventId + '?lat=' + latlong.lat + '?long=' + long;

        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>

  <style>
    #map {
      width: 100%;
      height: 400px;
    }
  </style>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCwN53tOvy26boDA1DSAj_3ivOuYxLfLG0&callback=initMap' async defer></script>
