<div class='row' id='map-options'>
  <div class='col-md-3'></div>
  <div class='col-md-6 col-md-offset-2' id='display'>
    <div class='row'>
      <h3>Find meetups near you!</h3>
    </div>

    <div class='row'>
      <form method="POST" action="/">
        <div class='col-md-6' id='add-div'>
          <fieldset class="form-group">
            <input id="address" name='address' class="form-control" placeholder='Address (required)' required width='200px'>
          </fieldset>
        </div>

        <div class='col-md-6' id='btn-div'>
          <div id='cat-opts'>
            <ul>
              <li>Categories
                <ul>
                  <li id='1'><a href="index/find/1">Arts and Culture</a></li>
                  <li id='18'><a href="index/find/18">Book Clubs</a></li>
                  <li id='2'><a href="index/find/2">Career & Business</a></li>
                  <li id='3'><a href="index/find/3">Cars & Motorcycles</a></li>
                  <li id='4'><a href="index/find/4">Community & Environment</a></li>
                  <li id='5'><a href="index/find/5">Dancing</a></li>
                  <li id='6'><a href="index/find/6">Education</a></li>
                  <li id='8'><a href="index/find/8">Fashion & Beauty</a></li>
                  <li id="9"><a href="index/find/9">Fitness</a></li>
                  <li id="10"><a href="index/find/9">Food & Drink</a></li>
                  <li id="11"><a href='index/find/11'>Games</a></li>
                  <li id="14"><a href="index/find/9">Health & Wellbeing</a></li>
                  <li id="15"><a href="index/find/9">Hobbies & Crafts</a></li>
                  <li id="16"><a href="index/find/9">Language</a></li>
                  <li id="12"><a href="index/find/9">LGBT</a></li>
                  <li id="17"><a href="index/find/9">Lifestyle</a></li>
                  <li id="13"><a href="index/find/9">Government & Politics</a></li>
                  <li id="20"><a href='index/find/20'>Movies & Film</a></li>
                  <li id="21"><a href='index/find/21'>Music</a></li>
                  <li id="22"><a href='index/find/22'>New Age Spirituality</a></li>
                  <li id="23"><a href='index/find/23'>Outdoors Adventure</a></li>
                  <li id="24"><a href='index/find/24'>Paranormal</a></li>
                  <li id="25"><a href='index/find/25'>Parents & Family</a></li>
                  <li id="26"><a href='index/find/26'>Pets & Animals</a></li>
                  <li id="27"><a href='index/find/27'>Photography</a></li>
                  <li id="28"><a href='index/find/'>Religious Beliefs</a></li>
                  <li id="29"><a href='index/find/'>Sci-Fi & Fantasy</a></li>
                  <li id="30"><a href='index/find/'>Singles</a></li>
                  <li id="31"><a href='index/find/'>Socializing</a></li>
                  <li id="32"><a href='index/find/'>Sports & Recreation</a></li>
                  <li id="33"><a href='index/find/'>Support</a></li>
                  <li id="34"><a href='index/find/'>Tech</a></li>
                  <li id="35"><a href='index/find/'>Writing</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

      </form>
    </div>
      <!-- <fieldset id="categories" class="form-group">
        <label for="categories">Categories <small>(choose at least one)</small></label>
        <select multiple class="form-control" name='categories' id="categories" required="">
          <option value="1">Arts & Culture</option>
          <option value="18">Book Clubs</option>
          <option value="2">Career & Business</option>
          <option value="3">Cars & Motorcycles</option>
          <option value="4">Community & Environment</option>
          <option value="5">Dancing</option>
          <option value="6">Education & Learning</option>
          <option value="8">Fashion & Beauty</option>
          <option value="9">Fitness</option>
          <option value="10">Food & Drink</option>
          <option value="11">Games</option>
          <option value="14">Health & Wellbeing</option>
          <option value="15">Hobbies & Crafts</option>
          <option value="16">Language</option>
          <option value="12">LGBT</option>
          <option value="17">Lifestyle</option>
          <option value="13">Government & Politics</option>
          <option value="20">Movies & Film</option>
          <option value="21">Music</option>
          <option value="22">New Age Spirituality</option>
          <option value="23">Outdoors Adventure</option>
          <option value="24">Paranormal</option>
          <option value="25">Parents & Family</option>
          <option value="26">Pets & Animals</option>
          <option value="27">Photography</option>
          <option value="28">Religious Beliefs</option>
          <option value="29">Sci-Fi & Fantasy</option>
          <option value="30">Singles</option>
          <option value="31">Socializing</option>
          <option value="32">Sports & Recreation</option>
          <option value="33">Support</option>
          <option value="34">Tech</option>
          <option value="35">Writing</option>
        </select>
      </fieldset>
      <button type="submit" class="btn btn-primary submit" id='submit'>Submit</button>
    </form> -->
  </div>
</div>

<div class='row'>
  <div id='map'></div>
  <script>
    function initMap() {
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: { lat: 44.540, lng: -78.546 },
        zoom: 8
      });

      var geocoder = new google.maps.Geocoder();

      document.getElementById('submit').addEventListener('click', () => {
        geocodeAddress(geocoder, map);
      });
    }

    function geocodeAddress(geocoder, resultsMap) {
      var address = document.getElementById('address').value;
      geocoder.geocode({'address': address}, (results, status) => {
        if (status == google.maps.GeocoderStatus.OK) {
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
  <style>
    #map {
      width: 100%;
      height: 400px;
    }
  </style>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCwN53tOvy26boDA1DSAj_3ivOuYxLfLG0&callback=initMap' async defer></script>
