<body>
  <div id="map-options">
    <div class="row">
      <div id="display" class="col-md-12">
        <h1>Find meetups near you</h1>
        <form method="POST" action="/">
          <fieldset class="form-group">
            <label for="address">Address: <small>(required)</small></label>
            <input id="address" name='address' class="form-control" required>
          </fieldset>
          <fieldset id="categories" class="form-group">
            <label for="categories">Categories <small>(choose at least one)</small></label>
            <select multiple class="form-control" name='categories' id="categories" required="">
              <option value="1">Arts & Culture</option>
              <option value="18">Book Clubs</option>
              <option value="2">Career & Business</option>
              <option value="3">Cars & Motorcycles</option>
              <option value="4">Community & Environment</option>
              <option value="5">Dancing</option>
              <option value="6">Education & Learning</option>
              <option value="8">Fashion & Beauty</option>
              <option value="9">Fitness</option>
              <option value="10">Food & Drink</option>
              <option value="11">Games</option>
              <option value="14">Health & Wellbeing</option>
              <option value="15">Hobbies & Crafts</option>
              <option value="16">Language</option>
              <option value="12">LGBT</option>
              <option value="17">Lifestyle</option>
              <option value="13">Government & Politics</option>
              <option value="20">Movies & Film</option>
              <option value="21">Music</option>
              <option value="22">New Age Spirituality</option>
              <option value="23">Outdoors Adventure</option>
              <option value="24">Paranormal</option>
              <option value="25">Parents & Family</option>
              <option value="26">Pets & Animals</option>
              <option value="27">Photography</option>
              <option value="28">Religious Beliefs</option>
              <option value="29">Sci-Fi & Fantasy</option>
              <option value="30">Singles</option>
              <option value="31">Socializing</option>
              <option value="32">Sports & Recreation</option>
              <option value="33">Support</option>
              <option value="34">Tech</option>
              <option value="35">Writing</option>
            </select>
          </fieldset>
          <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div id='map'></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: { lat: 44.540, lng: -78.546 },
          zoom: 8
        });
      }
    </script>
    <style>
      #map {
        width: 100%;
        height: 400px;
      }
    </style>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCwN53tOvy26boDA1DSAj_3ivOuYxLfLG0&callback=initMap' type='text/javascript' async defer></script>
</body>
