/*
   CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of CSS reset */

body {
  padding-top: 4%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map-options {
  background-color: #00b8b8;
}

#display {
  margin-top: 1%;
  margin-bottom: 1%;
}

h3 {
  text-align: center;
}

#btn-div {
  text-align: center;
}

#categories-button {
  background-color: white;
  border-radius: 5px;
  border: none;
  width: 50%;
  height: 37px;
  font-family: sans-serif;
  font-size: 1.8em;
}

#cat-opts {
  z-index: 1;
  background-color: white;
}

#cat-opts li {
  float: left;
  padding: 0px;
}

#cat-opts li a {
  display: block;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-decoration: none;
}

#cat-opts li a:hover {
  background: grey;
  color: white;
  text-decoration: none;
}

#cat-opts li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 675px;
  z-index: 200;
}

#cat-opts li:hover ul {
  display: block;
}

#cat-opts li li {
  background: green;
  display: block;
  float: left;
  margin: 0px;
  padding: 0px;
  width: 225px;
}

#cat-opts li ul a {
  display: block;
  height: 30px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
